@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

:root {
  font-family: 'Helvetica Neue', sans-serif;
  /* color-scheme: light dark; */
  --bg-color: #263238;
  --primary-color: #F57C00;
  --primary-color-dark: #FF6F00;
  --primary-color-hover: #f57b0027;
  --white-color: #dfdfdf;
  --divider-color: #37474F;
  background-color: var(--bg-color);
}